[submodule "crazyflie_simulation_pkg/external/crazyflie-firmware"]
	path = external/crazyflie-firmware
	url = https://github.com/llanesc/crazyflie-firmware.git
	branch = sitl-release
[submodule "crazyflie_simulation_pkg/external/crazyflie-lib-python"]
	path = external/crazyflie-lib-python
	url = https://github.com/llanesc/crazyflie-lib-python.git
	branch = sitl-release
[submodule "external/acados"]
	path = external/acados
	url = https://github.com/acados/acados.git
[submodule "external/crazyflie-clients-python"]
	path = external/crazyflie-clients-python
	url = https://github.com/llanesc/crazyflie-clients-python
	branch = sitl-release
